.dYgwii {
    padding: 20px 0px;
    font-size: 18px;
    margin-top: 20px;
}

.dEMLJa {
    font-weight: bold;
}

.bScXKt {
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    margin: 0px auto;
    max-width: 808px;
    width: 100%;
    padding: 0px 20px;
    min-height: 1px;
}

.gRnEmw {
    display: flex;
    padding-top: 5px;
    padding-bottom: 40px;
    overflow-x: auto;
    white-space: nowrap;
}

.gRnEmw > * {
    margin-right: 16px;
}

.gymLjt {
    display: flex;
}

.NVKNq {
    display: flex;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
}

.fFBpBV {
    width: auto;
    height: auto;
    line-height: 14px;
    padding: 11px 20px;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 5px;
    color: initial;
    font-size: 14px;
    font-weight: 500;
}


