
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>통합검색</title>
    <link rel="stylesheet" href="http://localhost:63342/myOceanProject/static/css/bulletin.css?jbUpdateLinksId=16">
    <link rel="stylesheet" href="http://localhost:63342/myOceanProject/static/css/header.css?jbUpdateLinksId=16">
    <link rel="stylesheet" href="http://localhost:63342/myOceanProject/static/css/footer.css?jbUpdateLinksId=16">
    <link rel="stylesheet" href="http://localhost:63342/myOceanProject/static/css/Search.css?jbUpdateLinksId=16">
    <link rel="stylesheet" href="/css/fix/header.css">
    <link rel="stylesheet" href="/css/fix/footer.css">
    <link rel="stylesheet" href="/css/Search/nosearch.css">
    <link rel="stylesheet" href="/css/Search/Search.css">
    <link rel="stylesheet" href="/css/bulletin_board/bulletin.css">
</head>
<body>
<header th:replace="/app/fix/header.html :: header"></header>


</div>
<div class="PageWrapper-sc-1w87j10-0 bScXKt">
    <div class="Fade__Wrapper-sc-1s0ipfq-0 koasSX" style="opacity: 1; display: block;">
        <div class="SearchResultPage__Header-sc-1n266rd-0 dYgwii"><span
                class="SearchResultPage__Query-sc-1n266rd-1 dEMLJa"><sapn>dsaodsoamfsa</sapn><span> 검색 결과 </span><span
                class="SearchResultPage__Count-sc-1n266rd-2 dOZKyh">0</span></div>

        <div class="Filter__FilterButtonWrapper-sc-1buujtg-1 gRnEmw">
            <div class="FilterDate__Wrapper-tqa6fq-0 gymLjt">
                <div class="FilterOpenButton__Wrapper-sc-91gci-0 NVKNq">
                    <button height="auto" color="initial" font-size="14px" font-weight="500"
                            class="Button-bqxlp0-0 fFBpBV">날짜
                    </button>
                </div>
            </div>
            <div class="FilterOthers__Wrapper-sc-1w6ksuy-0 jJIWoq">
                <div class="FilterOpenButton__Wrapper-sc-91gci-0 NVKNq">
                    <button height="auto" color="initial" font-size="14px" font-weight="500"
                            class="Button-bqxlp0-0 fFBpBV">필터
                    </button>
                </div>
            </div>
        </div>
        <div class="Fade__Wrapper-sc-1s0ipfq-0 koasSX" style="opacity: 1; display: block;">
            <div class="Empty__Wrapper-sc-3dhj3x-0 kdumyH"><img
                    src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath fill='%23FFF' fill-opacity='0' fill-rule='nonzero' d='M0 0h80v80H0z'/%3E %3Cg transform='translate(10 10)'%3E %3Ccircle cx='26.2' cy='26.2' r='24.6' fill-rule='nonzero' stroke='%23DDD' stroke-width='2'/%3E %3Cpath fill='%23DDD' d='M19.8 24.6a1.6 1.6 0 1 1 0-3.2 1.6 1.6 0 0 1 0 3.2zm12.8 0a1.6 1.6 0 1 1 0-3.2 1.6 1.6 0 0 1 0 3.2z'/%3E %3Cpath stroke='%23DDD' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M23 29.4c2.133-2.133 4.267-2.133 6.4 0'/%3E %3Cpath fill-rule='nonzero' stroke='%23DDD' stroke-width='2' d='M43.8 43.8l14.708 14.708'/%3E %3C/g%3E %3C/g%3E %3C/svg%3E"
                    class="Empty__Icon-sc-3dhj3x-1 cwykdT">
                <div class="Empty__Text-sc-3dhj3x-2 cVpYem"><p>검색 결과가 없어요.</p>
                    <p>다른 검색어로 검색해 주세요!</p></div>
            </div>
        </div>

    </div>
</div>
</div>

<footer th:replace="/app/fix/footer.html :: footer"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/fix/header.js"></script>
<script src="/js/fix/fix.js"></script>
</html>