<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>카테고리</title>
    <link rel="stylesheet" href="/css/category/category.css">
    <link rel="stylesheet" href="/css/fix/header.css">
    <link rel="stylesheet" href="/css/fix/footer.css">
</head>
<body>
<header th:replace="/app/fix/header.html :: header"></header>
<div class="PageWrapper-sc-1w87j10-0 bScXKt">
    <div class="Padded-sc-1mbfr4n-0 hMNBwb">
        <h1 font-size="20px" class="Left__LeftPageTitle-sc-12djr3w-0 RMzhy">카테고리</h1>
        <div class="Fade__Wrapper-sc-1s0ipfq-0 koasSX" style="opacity: 1; display: block;">
            <div class="CategoryList__Wrapper-l9zk8m-0 hWBKQE"><a href="http://localhost:15000/community/index"
                                                                  class="CategoryItem__A-sc-7y9o4v-0 gePshk">
                <div class="CategoryItem__Category-sc-7y9o4v-1 dXlPAQ">
                    <div class="CategoryItem__BackgroundDeemed-sc-7y9o4v-2 dVWsbF"></div>
                    <div class="CategoryItem__TextDeemed-sc-7y9o4v-3 fjwRlv"></div><span>자유게시판</span>
                </div>
            </a><a href="http://localhost:15000/community/index" class="CategoryItem__A-sc-7y9o4v-0 gePshk">
                <div class="CategoryItem__Category-sc-7y9o4v-1 lkwiLY">
                    <div class="CategoryItem__BackgroundDeemed-sc-7y9o4v-2 dVWsbF"></div>
                    <div class="CategoryItem__TextDeemed-sc-7y9o4v-3 fjwRlv"></div><span>요리이야기</span>
                </div>
            </a><a href="http://localhost:15000/community/index" class="CategoryItem__A-sc-7y9o4v-0 gePshk">
                <div class="CategoryItem__Category-sc-7y9o4v-1 hgfmjb">
                    <div class="CategoryItem__BackgroundDeemed-sc-7y9o4v-2 dVWsbF"></div>
                    <div class="CategoryItem__TextDeemed-sc-7y9o4v-3 fjwRlv"></div><span>운동이야기</span>
                </div>
            </a><a href="http://localhost:15000/community/index" class="CategoryItem__A-sc-7y9o4v-0 gePshk">
                <div class="CategoryItem__Category-sc-7y9o4v-1 hEnfLr">
                    <div class="CategoryItem__BackgroundDeemed-sc-7y9o4v-2 dVWsbF"></div>
                    <div class="CategoryItem__TextDeemed-sc-7y9o4v-3 fjwRlv"></div><span>영화이야기</span>
                </div>
            </a><a href="http://localhost:15000/community/index" class="CategoryItem__A-sc-7y9o4v-0 gePshk">
                <div class="CategoryItem__Category-sc-7y9o4v-1 dGCeTF">
                    <div class="CategoryItem__BackgroundDeemed-sc-7y9o4v-2 dVWsbF"></div>
                    <div class="CategoryItem__TextDeemed-sc-7y9o4v-3 fjwRlv"></div><span>책이야기</span>
                </div>
            </a><a href="http://localhost:15000/community/index" class="CategoryItem__A-sc-7y9o4v-0 gePshk">
                <div class="CategoryItem__Category-sc-7y9o4v-1 bLLzaC">
                    <div class="CategoryItem__BackgroundDeemed-sc-7y9o4v-2 dVWsbF"></div>
                    <div class="CategoryItem__TextDeemed-sc-7y9o4v-3 fjwRlv"></div><span>일기</span>
                </div>
            </a><a href="http://localhost:15000/anonymous/index" class="CategoryItem__A-sc-7y9o4v-0 gePshk">
                <div class="CategoryItem__Category-sc-7y9o4v-1 bpRTcI">
                    <div class="CategoryItem__BackgroundDeemed-sc-7y9o4v-2 dVWsbF"></div>
                    <div class="CategoryItem__TextDeemed-sc-7y9o4v-3 fjwRlv"></div><span>고민상담</span>
                </div>
            </a><a href="http://localhost:15000/bulletinBoard/index" class="CategoryItem__A-sc-7y9o4v-0 gePshk">
                <div class="CategoryItem__Category-sc-7y9o4v-1 hFOVnP">
                    <div class="CategoryItem__BackgroundDeemed-sc-7y9o4v-2 dVWsbF"></div>
                    <div class="CategoryItem__TextDeemed-sc-7y9o4v-3 fjwRlv"></div><span>모임</span>
                </div>
            </a><!--<a href="/category/beauty" class="CategoryItem__A-sc-7y9o4v-0 gePshk">
                <div class="CategoryItem__Category-sc-7y9o4v-1 iegeRK">
                    <div class="CategoryItem__BackgroundDeemed-sc-7y9o4v-2 dVWsbF"></div>
                    <div class="CategoryItem__TextDeemed-sc-7y9o4v-3 fjwRlv"></div><span>뷰티</span>
                </div>
            </a>-->
            </div>
        </div>
    </div><br><br>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/fix/header.js"></script>
</html>