<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지 레이아웃</title>
</head>

<body>
    <div id="content">
        <header class="top-header">
            <div class="headerbar">
                ::before
                <div class="headerbar-left">
                    <ul class="header-nav header-nav-options">
                        <li class="header-nav-brand">
                            <div class="brand-holder">
                                <span class="location_text">
                                    <a href="#">사용자 목록</a>
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="headerbar-right">
                    <ul class="header-nav header-nav-options">
                        <ul class="header-nav header-nav-options">
                            <li><a href="#" class="header-button">대량 사용자 추가</a></li>
                            <li><a href="#" class="header-button">사용자 추가</a></li>
                        </ul>

                </div>
            </div>
        </header>
    </div>
    <div id="menubar">
        ::before
        <div>

        </div>
    </div>

</body>

</html>